.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 30px; */
  padding: 10px;
  width: 100vw;
  height: 100%;
}
.community h1 {
  font-weight: 700;
  font-size: xx-large;
}
.community p {
  font-weight: 400;
  font-size: larger;
}

.communitypart2 .c1 p {
  font-size: small;
  font-weight: 200;
}
.c1a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.name h1 {
  font-size: medium;
  font-weight: 600;
}
.name p {
  font-size: small;

  font-weight: 300;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 25px;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}
