@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* width: 100vw; */
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.button1 {
  background: linear-gradient(
    90deg,
    #5f22ee 0%,
    #1763f9 42.4%,
    #0db8e8 100%
  ); /* Blue background color */
}
